body{
  font-family: 'Montserrat', sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after{
  content:"";
  display: table;
  clear: both;
}

.global-container{
 width:60%;
 margin: 20px auto;
 }

header{
  min-height: 100px;
  
}

.logo{
  width:140px;
  padding-right: 10px;
  border-right: 1px solid lightgrey; 
}

.logo img{
  width: 100%;
  height: auto;
}

ul{
 list-style: none; 
 margin-top: 15px;
 
}

ul li {
  display: inline-block;
  padding-right: 10px;
  font-size: 10px;
}

ul li a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

a:hover { 
  color:purple;
}

a:active{
  color:mediumblue;
}


.jumbotron{
  margin: 20px 0;
  border-radius: 10px;
  height: 450px;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center center;
}


.back-opac{
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  border-radius: 10px;
}

.jumbo-content{
  width: 60%;
  padding-left: 50px;
  color:white;
}

.central-container{
  min-height: 400px;
  margin-bottom: 10px;
}

footer{
  height: 50px;
  background-color: #8801FE;
}

.central-title{
  min-height: 70px;
 
}

.left-side, .main-content, .right-side{
  float:left;
}

.left-side{
  width:19%;
  height: 400px;
  margin:10px 0;
}

.right-side{
  width:19%;
  height: 400px;
  margin:10px 0;
}

.main-content{
  width:60%;
  height:400px;
  margin: 10px 1%;
}

h1{
  font-weight: bold; 
}

.img-left{
  background-image: url(../img/img-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  border-radius: 10px;
}


.img-main{
  background-image: url(../img/banner-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50%;
  border-radius: 10px;
}

.img-right{
  background-image: url(../img/img-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  border-radius: 10px;
}

.right-side p, .left-side p, .main-content p, h5{
  padding: 7px;
  font-size: 13px;
}

