body{
  font-family: 'Montserrat', sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after{
  content:"";
  display: table;
  clear: both;
}

.global-container{
 width:60%;
 margin: 10px auto;
 }

header{
  min-height: 100px;
}

.logo{
  width:140px;
  padding-right: 10px;
  border-right: 1px solid lightgrey; 
}

.logo img{
  width: 100%;
  height: auto;
}

/* stilizzo il menù */

ul{
 list-style: none; 
 margin-top: 15px;
 
}

ul li {
  display: inline-block;
  padding-right: 10px;
  font-size: 14px;
}

ul li a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

a:hover { 
  color:purple;
}

a:active{
  color:red;
}

/* inizio sezione jumbotron */

.jumbotron{
  margin: 20px 0;
  border-radius: 10px;
  height: 450px;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center center;
}

.back-opac{
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  border-radius: 10px;
}

.jumbo-content{
  width: 60%;
  padding: 23% 5% 5% 5%;
  color:white;
  font-size: 20px;
}

/* container del titolo */

.central-container{
  margin-bottom: 10px;
}

/* contentitori flottati */

.left-side, .main-content, .right-side{
  float:left;
}

.left-side{
  width:19%;
  height: 400px;
  margin:10px 0;
}

.right-side{
  width:19%;
  height: 400x;
  margin:10px 0;
}

.main-content{
  width:60%;
  height:400SSpx;
  margin: 10px 1%;
}

h1{
  font-weight: bold; 
  font-family: Arial, Helvetica, sans-serif;
}

.img-left{
  background-image: url(../img/img-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  border-radius: 10px;
}

.img-main{
  background-image: url(../img/banner-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 10px;
}

.img-right{
  background-image: url(../img/img-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  border-radius: 10px;
}

.right-side p, .left-side p, .main-content p, h5{
  padding: 7px;
  font-size: 13px;
}



.footer-message span{
  color:red;
}

.footer-message{
  text-align: center;
  font-size: 13px;
}
